<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-12">
			<h2>{{title}}</h2>
		</div>

		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<label for="source" class="form-label">Source</label>
				</div>
				<div class="col-12">
					<input type="text" name="source" id="source" class="form-control" [(ngModel)]="source">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4">
					<label for="source" class="form-label">Test Server</label>
				</div>
				<div class="col-12">
					<input type="text" name="source" id="source" class="form-control" [(ngModel)]="testServer">
				</div>
				<div class="col-12">
					<div class="btn btn-primary" (click)="showServer = !showServer">
						Connect
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12" [class.col-lg-8]="showServer">
		<app-tester [source]="source"></app-tester>
	</div>
	<div *ngIf="showServer" class="col-lg-4">
		<app-test-server [path]="source" [source]="testServer" [connect]="showServer"></app-test-server>
	</div>
</div>

