.required {
	color: red;
}

input[type=checkbox] {
	height: 1.2rem;
	width: 1.2rem;
}

input[type=radio] {
	height: 1.3rem;
	width: 1.3rem;
}

.requiredEntry:after {
	content: '*';
	color: red;
	padding-left: 1.3rem;
}
